.fadeIn {
    animation: fadeIn 1.5s linear 0s 1;
}

.widthIn {
    animation: widthIn 1s ease-in-out 0s 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes widthIn {
    0% {
        width: 0%;
    }

    90% {
        width: 100%;
    }
}