@font-face {
    src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
    font-family: roboto-bold;
}

@font-face {
    src: url("../assets/fonts/RobotoCondensed-regular.ttf");
    font-family: roboto-regular;
}

@font-face {
    src: url("../assets/fonts/RobotoCondensed-light.ttf");
    font-family: roboto-light;
}
