body {
    margin: 0;
}

nav {
    background: red;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.navigation__item {
    display: inline-block;
    text-align: center;

    padding: 0px 8px;

    background: cyan;
}

.navigation__item:hover {
    background: gray;
}